.hello {
  display: block;
  padding-right: 3em;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 5ch;
  animation: typing 2s steps(5), blink .5s infinite step-end alternate;
  overflow: hidden;
}

.im {
  display: block;
  padding-right: 2em;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 3ch;
  animation: typing 2s steps(3), blink .5s infinite step-end alternate;
  overflow: hidden;
}

.summary {
  display: block;
  padding-right: 4.3em;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 7ch;
  animation: typing 2s steps(7), blink .5s infinite step-end alternate;
  overflow: hidden;
}

.puppet {
  display: block;
  padding-right: 3.7em;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 6ch;
  animation: typing 2s steps(6), blink .5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {width: 0}
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes one-blink{
  0%{
    border-color: transparent;
  }

  50% {
    border-color: transparent;
  }
}
